.signUp{
    background-color: #fb9678;
   }
.content{
    text-align: center;
} 
.Card{
    padding: 50px;
    margin-top: 180px;
}
.heading{
    font-weight: bold;
    font-size: 25px;
}

//    .divider-text {
//     position: absolute;
//     left: 0;
//     right: 0;
//     margin: 0 auto;
//     width: 110px;
//     top: -11px;
//     background: #fafafa;
//     display: block;
//     text-align: center;
// }
// .text-muted {
//     color: #777e89!important;
// }