<div class="card">
    <div class="card-header">
        <p><b>Ajay K</b></p>
    </div>
    <div class="card-body">
        <ul>
            <li class="chat">Hi My Name is AJAy</li>
        </ul>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-md-11">
                <input type="text" class="form-control" placeholder="Type here message" />
            </div>
            <div class="col-md-1">
                <button class="form-control btn btn-success">Send</button>
            </div>
        </div>
    </div>
</div>